/**
 * Lataa Exo fontti googlen palvelimilta
 */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Exo", "sans-serif";
    font-size: 20px;
    margin: 0;
    border: 0;
    padding: 0;
}

header h1, h2, .main-content h1, h2 {
    color: #00843d;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

header .logo {
    float: left;
}

header nav {
        text-align: center;
        background-color: #00843d;
        margin: 0;
        padding: 0;
    }

header a {
        display: inline-block;
        font-size: 36px;
        text-align: center;
        text-decoration: none;
        color: black;
        background-color: #ffffff;
    }
header a:not(.logo) {
        padding: 14px 16px;
    }
    
header a:hover:not(.logo){
        background-color: red;
    }
    
header .aktiivinen {
        background-color: #04AA6D;
        text-decoration: underline;
    }


.main-content, footer {
    a {
        border: 1px solid green;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        text-decoration: underline;
    }
    a:hover {
        background-color: red;
    }
}

/**
 * main-content luokassa määritellään pääsisällön asiat ilman että se vaikuttaa headeriin
 */
.main-content {
    /**
     * max-width --> kertoo kuinka iso osa tekstistä varataan keskialueelle
     * margin: auto auto --> tee tyhjää tilaa (margin) vasempaan ja oikeaan reunaan
     */
    max-width: 90%;
    margin: auto auto;
}

.main-content img {
    width: 100%;
    height: 100%;
}

.main-content a {
    background-color: #00843d;
    color: white;
}

.main-content .call_to_action {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-content a:not(.call_to_action) {
    padding: 15px 32px;
}

footer {
    padding-top: 1em;
    text-align: center;
    border: 3px solid black;
    background-color: #00843d;
    .flex-container {
        display: flex;
        justify-content: space-around;
    }
}

footer a {
        padding: 16px 32px;
        background-color: white;
        color: black;
}

footer h2 {
        font-size: 32px;
        font-weight: normal;
        color: black;
}


/*mobiilikoko*/
@media (max-width: 1000px) {

    /*pääsisällön grid*/
    .grid-photo {grid-area: 'grid-photo';}

    .grid-text {grid-area: 'grid-text';}
    .grid-container {
        display: grid;
        grid-template-areas:
            'grid-photo',
            'grid-text';
        gap: 2em;
    }

    /*footer flex*/
    .flex-container{
        flex-direction: column;
    }
}
    
/*suuri näyttö*/
@media screen and (min-width: 1000px) {
    .grid-photo {grid-area: 'grid-photo';}
    .grid-text {grid-area: 'grid-text';}
    .grid-container {
        display: grid;
        grid-template-areas:
            'grid-photo grid-text grid-text grid-text';
        gap: 2em;
    }
}